.table td,
.table th {
    vertical-align: middle;
}

.btn-link {
    text-decoration: none;
    color: #555;
}

.tab-active {
    text-decoration: underline !important;
    color: #1767ff !important;
    font-weight: bold;
}

h4 {
    margin-left: 8px;
}

.card-item {
    background: #fff;
    border-radius: 14px;
    border: 1px solid #eee;
    box-shadow: 0 1px 5px 0 #eee;
    margin: 0 8px;
    padding: 16px 24px;
    min-width: 180px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: box-shadow .18s;
}

.card-item.clickable {
    cursor: pointer;
    transition: box-shadow .2s;
}

.card-item.clickable:hover {
    box-shadow: 0 4px 16px #bcd2fb;
    border-color: #6fa3ff;
}

.number {
    font-size: 2.2rem;
    margin-bottom: 0.3em;
}

.item-title {
    font-size: 1.07rem;
    margin-top: 0.5em;
    color: #555;
    font-weight: 500;
    text-align: center;
}

.sidebar {
    width: 220px;
    min-height: 100vh;
    border-right: 1px solid #e5e7eb;
    background: #fafbfc;
}

.list-group-item {
    border: none;
    border-radius: 0;
    font-size: 16px;
    cursor: pointer;
    background: #fafbfc;
    color: #222;
    padding: 15px 24px;
    transition: background 0.2s;
}

.parent.active,
.router-link-exact-active.parent {
    background: #fff;
    color: #1767ff;
    font-weight: bold;
    border-left: 4px solid #1767ff;
}

.child {
    margin-left: 0;
    padding-left: 48px;
    background: #f6f7fa;
    color: #1767ff;
    border-left: 4px solid #1767ff;
}

.child.active,
.router-link-exact-active.child {
    background: #fff;
    color: #1767ff;
    font-weight: bold;
}

.breadcrumb-bar {
    background: #fff;
    border-bottom: 1px solid #eee;
    padding: 1rem 1.5rem 0.5rem 0.5rem;
}

.breadcrumb {
    background: none;
    margin-bottom: 0;
    padding: 0;
    font-size: 18px;
}

.user-icon {
    width: 26px;
    height: 26px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 6px;
}

.pagebar-wrap {
    position: relative;
    margin-top: 12px;
    margin-bottom: 12px;
}

.pagebar-wrap .pagination {
    margin-bottom: 0;
}

.pagebar-wrap .form-select {
    min-width: 90px;
    display: inline-block;
}